.idea/*
__pycache__/*
eval/*
evaluation.py
README.md
image/*
data/*
.pytest_cache/*
debug/
debug.py
anno.py
result
test.py
load_data.py
pretrain/
images/
basenet/__pycache__/
run_model.py
debug_pytorch.py
